*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --back-color: rgba(212, 239, 255, 0.322);
}
h1, p {
  font-family: Lato;
}

.post-app{
  position: relative;
  background: var(--back-color);
  width: 70%;
  margin: 20% auto;
  height: 40vh;
  border-radius: 3px;
}
.post-app div > h4{
  position: absolute;
  padding: 5px;
  margin: 20px;
  width: 70%;
  top: 25%;
  text-decoration: underline;
  color: blueviolet;
  font-size: 20px;
}
.post-app div > p{
  position: absolute;
  top: 40%;
  padding: 5px;
  margin: 20px;
  color: rgb(56, 70, 35);
  font-size: 1.2em;
}