*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --back-color: rgba(212, 239, 255, 0.322);
}
h1, p {
  font-family: Lato;
}

.post-app{
  position: relative;
  background: var(--back-color);
  width: 70%;
  margin: 20% auto;
  height: 40vh;
  border-radius: 3px;
}